<div data-hook="admin_product_form_rotator_url">
  <%= f.field_container :rotator_url, class: ['form-group'] do %>
    <%= f.label :rotator_url, Spree.t(:rotator_url) %>
    <%= f.text_field :rotator_url, class: 'form-control title' %>
    <%= f.error_message_on :rotator_url %>
  <% end %>
</div>
